*{
    margin: 0;
    padding: 0;
}

.img__logo{
    max-width: 100%;
}

li{
    list-style-type: none;
}

.form__buscar{
width: 100%;
}

.formulario__Padre{
    width: 100%;
}

.container__manual{
    background-color: #1a1717;
    padding: 0px 11%;
    color: #fbfbfb;
    border-bottom: 3px solid #D10024;
}

.container__manualTopHeader{
    background-color: #232222;
    padding: 0px 11%;
    color: #fbfbfb;
}

.form__login{
    padding-right: 0px;
    padding-left: 20px;
}

.lista__shopping{
    position: relative;
    right: -15px;
    top: -30px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;

}


@media screen and (min-width:768px){
 /*   .navbar__manual{
        margin: 0 0;
    }*/
}


@media screen and (max-width:991px){
    .form__login{
         padding: 0 15%;
    }
}

@media screen and (max-width:991px){

    .redes__Sociales{
        padding: 0 15%;
    }
}

@media screen and (max-width:575px){

    .img__logo{
        width: 150px;
        
    }
}