/************************************************************
                             N A V   
/***********************************************************/
.navbar-light .navbar-nav .activo{
    color: $ColorRojoMain;
    font-weight: 500;
    background-size: 90% 2px;
}

.navbar-light .navbar-nav .activo:hover{
color: $ColorRojoMain;
}

.ul__li a {
    text-decoration: none;
    color:#333;
    background-image: linear-gradient($ColorRojoMain, $ColorRojoMain);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;    
}

.nav__link{
padding: 0px;
}

