
/**************************************************************************************
                    Colores
***************************************************************************************/
$backgroundColorBody: rgb(236, 236, 236);
$backgroundColorTopHeader:#232222;
$backgroundColor:#1a1717;
$ColorRojoMain: #D10024;
$colorVerdeMain: #59a501;