/********************************************************
                    ver mas
*********************************************************/
.h2__verMas{
    color:$ColorRojoMain;
    text-decoration: none;
}
.h2__verMas:hover{
    color: $ColorRojoMain;
}

/********************************************************
                    Main - Grid 
*********************************************************/
